@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Nexa Bold';
    font-weight: 600;
    src: url('./fonts/nexa/NexaTextDemo-Bold.woff2') format('woff2'),
        url('./fonts/nexa/NexaTextDemo-Bold.woff') format('woff'),
        url('./fonts/nexa/NexaTextDemo-Bold.otf') format('otf'),
        url('./fonts/nexa/NexaTextDemo-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    font-weight: 400;
    src: url('./fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('./fonts/montserrat/Montserrat-Medium.woff') format('woff'),
        url('./fonts/montserrat/Montserrat-Medium.otf') format('otf'),
        url('./fonts/montserrat/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat Semibold';
    font-weight: 500;
    src: url('./fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('./fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('./fonts/montserrat/Montserrat-SemiBold.otf') format('otf'),
        url('./fonts/montserrat/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-weight: 600;
    src: url('./fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('./fonts/montserrat/Montserrat-Bold.woff') format('woff'),
        url('./fonts/montserrat/Montserrat-Bold.otf') format('otf'),
        url('./fonts/montserrat/Montserrat-Bold.ttf') format('ttf');
}

html {
    body{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    button {
        border: 0;
        &:focus {
            outline: none;
        }
    }

    h1, h2, h3 {
        font-family: "Nexa Bold";
        color: #383E66;
    }

    p {
        font-family: "Montserrat Medium";
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: .5rem;
        color: #383E66;
    }

    b {
        font-weight: 400;
        font-family: "Montserrat Medium";
    }

    a {
        -moz-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .btn-link:hover {
        text-decoration: none;
        outline: none;
    }

    .open-account-btn {
        padding: 0 1rem;
        margin-right: .3125rem;
        font-size: .75rem;
        font-family: "Montserrat Semibold";
        color: #383E66;
        background: #2AFC85;
        border: 1px solid transparent;
        height: 48px;
        line-height: 48px;
        letter-spacing: 1px;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

}

header {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: 100vh;
        background: #383E66;
        z-index: 99;
        &.collapsing {
            left: -100%;
            -webkit-transition: height 0s ease;
            -moz-transition: height 0s ease;
            -o-transition: height 0s ease;
            transition: height 0s ease;
        }
        &.show {
            left: 0;
            -webkit-transition: left 300ms ease-in-out;
            -moz-transition: left 300ms ease-in-out;
            -o-transition: left 300ms ease-in-out;
            transition: left 300ms ease-in-out;
        }
        &__header {
            align-items: center;
            justify-content: space-between;
            padding: .5rem .25rem;
            width: 100%;
            display: flex;
        }
        &__buttons {
            display: flex;
        }
        .navbar-nav {
            padding: 2.75rem 1.5rem 0;
            height: calc(100vh - 220px);
            .nav-item {
                padding: 0 .5rem;
                a {
                    color: #fff;
                    padding: .9375rem .625rem;
                    font-size: 1rem;
                    font-family: "Montserrat Bold";
                    p {
                        flex: 0 0 100%;
                        font-family: "Montserrat Medium";
                        color: #CDCED9;
                        font-size: .875rem;
                        padding-top: .5rem;
                    }
                    b {
                        display: flex;
                        align-items: center;
                        position: relative;
                        display: inline-block;
                        &:before {
                            position: absolute;
                            content: '';
                            height: 2px;
                            border-radius: 2px;
                            bottom: 0;
                            left: 0%;
                            background: #2B67F5;
                            opacity: 0;
                            -moz-transition: all 0.2s ease-in-out;
                            -webkit-transition: all 0.2s ease-in-out;
                            transition: all 0.2s ease-in-out;
                            width: 0;
                        }
                    }
                    span {
                        padding: .1875rem .5rem;
                        border-radius: .5rem;
                        background: #2AFC85;
                        color: #383E66;
                        text-transform: uppercase;
                        font-size: .5rem;
                        letter-spacing: .0625rem;
                        margin-left: .5rem;
                        line-height: 1;
                        font-family: "Montserrat Bold";
                    }
                    &.dropdown-item {
                        &:hover {
                            b {
                                &:before {
                                    width: 100%;
                                    opacity: 1;
                                }
                            }
                        }
                        &.active {
                            color: #2B67F5;
                            background-color: transparent;
                            b {
                                &:before {
                                    width: 100%;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .nav-link {
                &:hover {
                    color: #2B67F5;
                }
            }
            .dropdown-menu {
                background: transparent;
                border: 0;
                width: 100%;
                min-width: 100%;
                margin: 0;
                padding: 0;
                right: 0;
                .sub-menu {
                    &__title {
                        border-bottom: 1px solid #EBEBEF;
                        color: #9B9EB2;
                        cursor: default;
                        width: 100%;
                        padding: .5rem .625rem .125rem;
                        margin-bottom: .8rem;
                        text-transform: uppercase;
                        font-size: .75rem;
                        font-family: "Montserrat Bold";
                        letter-spacing: .0625rem;
                    }
                }
            }
        }
        &__right {
            display: flex;
            flex-wrap: wrap;
        }
        &__lang {
            display: flex;
            width: 50%;
        }
        &__lang-item {
            a {
                font-weight: 300;
                color: #fff;
                opacity: 0.8;
                display: inline-block;
                position: relative;
                padding: .9375rem .625rem;
                font-size: 1rem;
                &:after {
                    content: "/";
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    -moz-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
            &:last-child {
                a {
                    &:after {
                        content: '';
                    }
                }
            }
        }
        &__contact {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            align-items: center;
            a {
                display: inline-block;
                width: auto;
                margin-right: 2.03125rem;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    height: 23px;
                }
            }
        }
        &__button {
            width: 100%;
            a {
                text-align: center;
                border: 1px solid #fff;
                border-radius: .25rem;
                padding: 1rem 1.5rem;
                letter-spacing: 1px;
                font-family: "Montserrat Bold";
                font-size: .75rem;
            }
        }
    }

    .navbar-brand__logo {
        max-width: 7rem;
    }

    .navbar-toggler {
        border: 0;
        padding: 0;
        height: 45px;
        width: 45px;
        margin-top: 3px;
        margin-right: -10px;
        justify-content: center;
        align-items: center;
        display: flex;
        &.collapsed  ~ .navbar-collapse {
            transition: left 500ms ease-in-out;
        }
        .animated-icon {
            width: 20px;
            height: 20px;
            position: relative;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                border-radius: 9px;
                background: #383E66;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
                &:nth-child(2) {
                    top: 6px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
                &:nth-child(3) {
                    top: 12px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: 0px;
                        left: 8px;
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        top: 14px;
                        left: 8px;
                    }
                }
            }
            &.navbar-collapse__animated-icon {
                span {
                    background: #fff;
                }
            }
        }
    }

}

.hero-section {
    padding-bottom: .5rem;
    padding-top: 2.6875rem;
    text-align: center;
    &__title {
        font-size: 2.25rem;
        line-height: 1.5;
        margin-bottom: 16px;
    }
    p {
        font-size: 1.25rem;
        color: #383E66;
    }
    &__bottom {
        padding-top: 1.5625rem;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .open-account-btn {
            width: 200px;
        }
        .contact-sales-btn {
            color: #2B67F5;
            background: none;
            border: 1px solid #2B67F5;
            font-size: .75rem;
            padding: 0 1.4375rem;
            font-family: "Montserrat Semibold";
            letter-spacing: .0625rem;
            min-height: 3rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin: 1rem 0 .5rem;
        }
        span {
            margin-top: 8px;
            font-family: "Montserrat Medium";
            color: #6A6E8C;
            line-height: 1.7;
            font-size: .875rem;
        }
    }
    &__image {
        img {
            border-radius: .5rem;
            max-width: 100%;
        }
    }
}

.rating-section {
    padding-top: 3.125rem;
    padding-bottom: 1.5rem;
    &__title {
        font-size: 24px;
        line-height: 1.7;
        text-align: center;
        margin-bottom: 40px;
    }
    .testimonials {
        &__box {
            box-shadow: 0px 10px 30px rgba(56,62,102,0.25);
            border-radius: .3125rem;
            margin-bottom: 24px;
            padding: 1.5rem;
            position: relative;
        }
        p {
            margin-bottom: 25px;
        }
        .quote-bottom {
            display: flex;  
            img {
                width: 40px;
                height: 40px;
                margin-right: 24px;
            }
            span {
                font-size: .875rem;
                font-family: "Montserrat Medium";
                &:nth-child(1) {
                    font-family: "Montserrat Bold";
                }
            }
        }
    }
    .video-modal {
        padding: 0;
        width: 100%;
        &__thumbnail {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .3125rem;
            }
        }
        &__play {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 5.3125rem;
            height: 5.3125rem;
            border-radius: 100%;
            border: .25rem solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 26px;
            }
        }
    }
}

.modal {
    .close {
        position: absolute;
        right: 15px;
        top: -50px;
        font-size: 2rem;
        line-height: 1;
        color: #fff;
        font-weight: normal;
        opacity: 1;
    }
}

.partners-carousel {
    padding: 2.5rem 0 2.8125rem;
    margin-bottom: 100px;
    .item {
        div {
            width: 100%;
            height: 50px;
            background-size: auto 200%;
            background-repeat: no-repeat;
        }
        .bw-img {
            background-position: center 0%;
            transition: all .3s;
        }
        .colored-img {
            background-position: center 100%;
            display: none;
            transition: all .3s;
        }
        &:hover {
            .bw-img {
                display: none;
            }
            .colored-img {
                display: block;
            }
        }
    }
}

.info-section {
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;
    .container {
        display: flex;
    }
    &__image {
        display: none;
        width: 40%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .625rem;
        }
    }
    &__subtitle {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: #2b67f5;
        margin-bottom: .5rem;
    }
    &__title {
        font-size: 24px;
        margin-bottom: 1rem;
        line-height: 1.7;
    }
    &__list {
        li {
            padding-left: 2rem;
            margin-bottom: 1rem;
            position: relative;
            line-height: 1.7;
            &:before {
                position: absolute;
                background-image: url(./images/correct.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 16px;
                top: 4px;
                left: 0;
                display: block;
                content: '';
                width: 20px;
                height: 20px;
            }
            span {
                font-weight: 400;
            }
        }
    }
}

.faq-section {
    &__title {
        margin-bottom: 2.2125rem;
        text-align: center;
    }
    .card {
        border: none;
        .card-header {
            padding: .5rem 0 .8125rem 0;
            background: transparent;
            margin-bottom: 0;
        }
        button {
            border: none;
            background: transparent;
            line-height: 1.7;
            font-family: "Nexa Bold";
            font-size: 1rem;
            color: #383E66;
            position: relative;
            padding: 0;
            width: 100%;
            text-align: left;
            padding-right: 20%;
            span {
                position: absolute;
                height: 15px;
                width: 15px;
                top: 50%;
                right: 15px;
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                &:after,
                &:before {
                    content: "";
                    border-radius: .3125rem;
                    position: absolute;
                    background-color: #383E66;
                    transition: transform 0.25s ease-out;
                }
                &:before {
                    top: 0;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                    -moz-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%)
                }
                &:after {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    -moz-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
            &[aria-expanded=true] {
                span {
                    &:before {
                        -moz-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                        opacity: 0;
                    }
                    &:after {
                        -moz-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        background-color: #383E66;
                    }
                }
            }
        }
    }

}

.banner-section {
    margin-top: 7.5rem;
    &__content {
        display: flex;
        position: relative;
        align-items: center;
        background: linear-gradient(105.55deg, #CDCED9 0%, #F5F5F7 100%);
        border-radius: .625rem;
        padding: 2.5rem;
    }
    &__image {
        max-width: 47%;
        margin-top: -7.8125rem;
        display: none;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        text-align: center;
        width: 100%;
        h2 {
            margin-bottom: 2.5rem;
            font-size: 1.4rem;
            line-height: 1.7;
        }
        span {
            margin-top: 8px;
            font-family: "Montserrat Medium";
            color: #6A6E8C;
            line-height: 1.7;
            font-size: .875rem;
            display: block;
        }
    }

}

footer {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer-nav {
            max-width: 460px;
            width: 100%;
            .nav-item {
                border-bottom: 1px solid #EBEBEF;
            }
            .nav-link {
                font-size: 1rem;
                color: #383E66;
                line-height: 48px;
                margin-bottom: 0;
                position: relative;
                font-family: "Montserrat Bold";
                text-transform: capitalize;
                letter-spacing: 0.2px;
            }
            .dropdown-menu {
                position: static !important;
                float: none;
                transform: none !important;
                border: 0;
                padding: 0;
                li {
                    margin-bottom: .625rem;
                }
                a {
                    font-family: "Montserrat Medium";
                    font-size: .875rem;
                    line-height: 1.0625rem;
                    color: #383E66;
                    padding: .5rem 0;
                }
            }
        }
        .contact-info {
            max-width: 460px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 56px;
            text-align: center;
            margin-bottom: 40px;
            border-top: 1px solid #EBEBEF;
            img {
                width: 100%;
                max-width: 6.5rem;
                height: auto;
                margin-bottom: 1.5rem;
            }
            address {
                span {
                    font-size: .75rem;
                    font-family: "Montserrat Bold";
                    line-height: 1.7;
                    display: block;
                    color: #6A6E8C;
                }
            }
            p {
                font-size: .75rem;
                line-height: 1.7;
                margin-bottom: 0;
                display: inline-block;
            }
        }
    }
}

@media(min-width:576px) {
    .hero-section {
        &__title {
            font-size: 40px;
        }
    }

    .rating-section {
        &__title {
            font-size: 32px;
        }
    }

    .modal {
        .close {
            right: -2.5rem;
            top: 0px;
        }
    }

    .info-section {
        &__title {
            font-size: 32px;
        }
    }
    .banner-section {
        &__text {
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

@media(min-width:768px) {
    html {
        .container {
            max-width: 720px;
        }
    }
    .hero-section {
        text-align: left;
        &__title,
        p {
            width: 90%;
        }
        &__bottom {
            flex-direction: row;
            flex-wrap: wrap;
            .contact-sales-btn {
                margin: 0 0 0 24px;
            }
            span {
                width: 100%;
                display: block;          
            }
        }
    }
    .rating-section {
        .testimonials {
            &__box {
                min-height: 256px;
            }
            .quote-bottom {
                position: absolute;
                bottom: 1.25rem;      
            }
        }
    }
    .faq-section {
        .card {
            button {
                padding-right: 4.375rem;
                font-size: 1.5rem;
                span {
                    height: 24px;
                    width: 24px;
                    right: 30px;
                    &:before {
                        width: 3px;
                    }
                    &:after {
                        height: 3px;
                    }
                }
            }
            p {
                font-size: 1.125rem;
            }
        }
    }
    .banner-section {
        &__image {
            display: block;
        }
        &__text {
            text-align: left;
            padding: 0 2rem;
        }
    }
}

@media(min-width:992px) {
    html {
        .container {
            width: 100%;
            max-width: 960px;
        }
    }

    header {
        .container {
            flex-wrap: wrap !important;
        }
        .navbar {
            padding-top: 1.5625rem;
        }
        .navbar-collapse {
            position: relative;
            background: transparent;
            height: auto;
            padding-bottom: 0;
            .navbar-nav {
                height: auto;
                padding-top: 0;
                .dropdown-menu {
                    box-shadow: 0px 4px 15px rgba(56,62,102,0.15);
                    border-radius: .5rem;
                    min-width: 20rem;
                    top: 99%;
                    left: calc(0% + 7px);
                    -moz-transform: translate(0%, 0%);
                    -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
                    list-style-type: none;
                    padding: .875rem 1.2rem 1.4rem;
                    z-index: 41;
                    background: #fff;
                }
                .nav-item {
                    position: relative;
                    a {
                        color: #383E66;
                        font-family: "Montserrat Medium";
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            &__header {
                display: none;
            }
            &__right {
                position: absolute;
                right: 0;
            }
            &__contact {
                display: none;
            }
            &__button {
                width: auto;
                a {
                    border: 1px solid #2B67F5;
                    margin-left: 1.5rem;
                }
            }
            &__lang-item {
                a {
                    color: #CDCED9;
                }
                &.current-lang {
                    a {
                        color: #383E66;
                    }
                }
            }
        }
        .navbar-brand {
            width: 100%;
            &__logo {
                max-width: 9.375rem;
                margin-bottom: 1.5625rem;
            }
        }
    }
    .hero-section {
        .row {
            align-items: center;
        }
    }
    .rating-section {
        .testimonials {
            &__box {
                height: 256px;
            }
        }
    }
    .info-section {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        .container {
            align-items: center;
        }
        &__text {
            width: 60%;       
            &--right {
                padding-left: 5rem;
            }
            &--left {
                padding-right: 5rem;
            }
        }
        &__image {
            display: block;
            img {
                max-height: 465px;
            }
        }
    }
    footer {
        .footer-top {
            flex-direction: row;
            justify-content: space-between;
            .contact-info {
                max-width: 20%;
                padding-top: 0;
                border-top: 0;
                text-align: left;
                align-items: flex-start;
                position: relative;
                top: -5px;
                p {
                    display: block;
                }
            }
            .footer-nav {
                max-width: 80%;
                flex-direction: row;
                .nav-item {
                    border-bottom: 0;
                    width: 25%;
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
            .dropdown-toggle {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@media(min-width:1200px) {
    html {
        .container {
            max-width: 1230px;
        }
    }
    header {
        .container {
            flex-wrap: nowrap !important;
            padding: 0;
        }
        .navbar {
            padding-top: 1rem;
        }
        .navbar-collapse {
            &__right {
                display: flex;
                align-items: center;
            }
            &__button {
                a {
                    padding: .825rem 1.5rem;
                }
            }
        }
        .navbar-brand {
            width: auto;
            &__logo {
                margin-bottom: 0;
            }
        }
    }
    .hero-section {
        .row {
            align-items: flex-end;
        }
    }
    .rating-section {
        .testimonials {
            &__box {
                height: 226px;
                min-height: 226px;
            }
        }
    }
    .info-section {
        padding: 2.5rem 5rem;
    }
    .banner-section {
        &__text {
            h2 {
                font-size: 32px;
            }
        }
    }
}