<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
      <header>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg">
                <div class="container d-flex">
                    <a class="navbar-brand m-0 p-0" href="#">
                        <img class="navbar-brand__logo" src="./images/logo.svg" alt="Penta | Logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="animated-icon"><span></span><span></span><span></span></div>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-collapse__header">
                            <a class="navbar-brand m-0 p-0" href="#">
                                <img class="navbar-brand__logo" src="./images/logo-1.svg" alt="Penta | Logo" />
                            </a>
                            <div class="navbar-collapse__buttons">
                                <a class="btn open-account-btn text-uppercase" href="https://getpenta.com/en/open-account/">Open Account</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <div class="animated-icon navbar-collapse__animated-icon"><span></span><span></span><span></span></div>
                                </button>
                            </div>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">
                                        <b>Business Banking</b>
                                        <p>Lorem ipsum</p>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Loans</b>
                                        <p>Lorem ipsum</p>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Point-of-Sale Banking</b>
                                        <p>Lorem ipsum</p>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Kompass</b>
                                        <p>Lorem ipsum</p>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Features
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">
                                        <b>Sub-Accounts <span>new</span></b>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Expense Management</b>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Team Cards</b>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Automated Accounting</b>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Payments</b>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Premium Support</b>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <b>Rewards</b>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Business Solutions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="sub-menu">
                                        <p class="sub-menu__title">By Size</p>
                                        <a class="dropdown-item" href="#">
                                            <b>In Fundation</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Start-ups</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Small SMEs</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Larger SMEs</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Freelancer</b>
                                        </a>
                                    </div>
                                    <div class="sub-menu">
                                        <p class="sub-menu__title">By Industry</p>
                                        <a class="dropdown-item" href="#">
                                            <b>IT-Services</b>
                                        </a> 
                                        <a class="dropdown-item active" href="#">
                                            <b>Medical &amp; Care</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Hospitality</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Sales</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Craftsmen</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Travel &amp; Transport</b>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <b>Rewards</b>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Pricing
                                </a>
                            </li>
                        </ul>

                        <div class="navbar-collapse__right">
                            <ul class="navbar-collapse__lang">
                                <li class="navbar-collapse__lang-item">
                                    <a class="text-uppercase" lang="de-DE" hreflang="de-DE" href="https://getpenta.com/de/medizin-pflege/">de</a>
                                </li>
                                <li class="navbar-collapse__lang-item current-lang">
                                    <a class="text-uppercase" lang="en-US" hreflang="en-US" href="https://getpenta.com/en/medical-care/">en</a>
                                </li>
                                <li class="navbar-collapse__lang-item">
                                    <a class="text-uppercase" lang="it-IT" hreflang="it-IT" href="https://getpenta.com/it/">it</a>
                                </li>
                            </ul>
                            <div class="navbar-collapse__contact">
                                <a class="navbar-collapse__link" href="mailto:hello@getpenta.com">
                                    <img class="navbar-collapse__img" src="./images/envelope.png" alt="Penta | Email Address" />
                                </a>
                                                    
                                <a class="navbar-collapse__link" href="tel:+49 30 255 585 803">
                                    <img class="navbar-collapse__img" src="./images/phone.png" alt="Penta | Phone Number" />
                                </a>
                            </div>
                            <ul class="navbar-collapse__button">
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="#">
                                        Login
                                    </a>                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </nav>
            <!-- /Navigation -->
      </header>

        <main>
            <!-- Hero Section -->
            <section class="hero-section container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="hero-section__title">The Business Banking Platform for Doctors and Pharmacies</h1>
                        <p>
                            We contribute to the digitalization of the health care system and offer the ideal online 
                            business account with numerous functions for medical practices, pharmacies and care facilities.
                        </p>
                        <div class="hero-section__bottom">
                            <a href="https://getpenta.com/en/pricing/" class="btn open-account-btn text-uppercase">OPEN ACCOUNT</a>
                            <a href="https://meetings.hubspot.com/penta/product-demo" class="btn contact-sales-btn text-transform">Contact Sales</a>
                            <span>Free trial – no commitment</span>
                        </div>
                    </div>
                    <div class="col-lg-6 hero-section__image">
                        <img src="./images/2222.png" 
                            srcset="./images/2222.png 1866w, 
                                    ./images/2222-300x289.png 300w, 
                                    ./images/2222-1024x988.png 1024w, 
                                    ./images/2222-768x741.png 768w, 
                                    ./images/2222-1536x1482.png 1536w, 
                                    ./images/2222-640x617.png 640w" 
                            sizes="(max-width: 900px) 100vw, 900px"
                            alt="Penta | Hero Image">
                    </div>
                </div>
            </section>
            <!-- /Hero Section -->

            <!-- Rating Section -->
            <section class="rating-section container">
                <h2 class="rating-section__title">20k+ German Businesses trust Penta with their banking.</h2>
                <div class="row testimonials">
                    <div class="col-12 col-md-12 col-lg-4 video-item">
                            <a href="#" class="video-modal testimonials__box" type="button" data-toggle="modal" data-target="#videoModal" data-videomodal="https://player.vimeo.com/video/405836298">
                                <div class="video-modal__thumbnail">
                                    <img data-vimeo-id="405836298" src="https://i.vimeocdn.com/video/876137504_640.jpg" alt="Video thumbnail">
                                </div>
                                <span class="video-modal__play">
                                    <img src="./images/play.png" alt="Penta | Play button">
                                </span>
                            </a>
                    </div>
                    <div class="col-md-6 col-lg-4">
                            <div class="testimonials__box">
                                <p>
                                    “Thanks Penta for simplifying corporate banking for us! We switched recently and really love the design and UX.”                                         
                                </p>
                                <div class="quote-bottom">
                                        <img src="./images/Krzysztof-1.jpg" sizes="(max-width: 48px) 100vw, 48px">
                                        <div class="quote-bottom__author-info">
                                            <span>Christoph Wünsche</span><br>
                                            <span>COO @ bepro11</span>
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                            <div class="testimonials__box">
                                <p>
                                “Penta vs traditional banks? No bureaucracy, better look and feel. Penta really focuses on building the features useful for our business.”                                         
                                </p>
                                <div class="quote-bottom">
                                    <img src="./images/Krzysztof-1.jpg" sizes="(max-width: 48px) 100vw, 48px">
                                    <div class="quote-bottom__author-info">
                                        <span>Krzysztof Piernicki</span><br>
                                        <span>VP Finance @ AirHelp</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
            <!-- /Rating Section -->

            <!-- Partners Carousel Section -->
            <section class="partners-carousel container">
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/finstreet.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/finstreet.jpg)"></div>
                        </div>
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/donut.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/donut.jpg)"></div>
                        </div>
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/limehome.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/limehome.jpg)"></div>
                        </div>
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/chatchamp.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/chatchamp.jpg)"></div>
                        </div>
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/finstreet.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/finstreet.jpg)"></div>
                        </div>
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/donut.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/donut.jpg)"></div>
                        </div>
                        <div class="item">
                            <div class="bw-img" style="background-image:url(./images/chatchamp.jpg)"></div>
                            <div class="colored-img" style="background-image:url(./images/chatchamp.jpg)"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Partners Carousel Section -->

            <!-- First Info Section -->
            <section class="info-section info-section--right">
                <div class="container">
                    <div class="info-section__image">
                        <img src="./images/medizin-1.jpg" 
                            srcset="./images/medizin-1.jpg 960w, 
                            ./images/medizin-1-225x300.jpg 225w, 
                            ./images/medizin-1-768x1024.jpg 768w, 
                            ./images/medizin-1-640x853.jpg 640w" 
                            sizes="(max-width: 900px) 100vw, 900px"
                            alt="The benefits of your Penta business account image">
                    </div>
                    <div class="info-section__text info-section__text--right">
                        <h3 class="info-section__subtitle">BEST BANKING FOR MEDICAL &amp; HEALTHCARE COMPANIES</h3>
                        <h2 class="info-section__title">The benefits of your Penta business account</h2>
                        <ul class="info-section__list">
                            <li><span>Digital business account and sub-accounts with German IBAN</span></li>
                            <li><span>Batch payments and clear expense management </span></li>
                            <li><span>Individual debit cards for you and your team</span></li>
                            <li><span>Accept credit, debit and contactless payments with <a href="https://getpenta.com/en/partners/pos/">Penta POS</a> and SumUp</span></li>
                            <li><span>Easy connection to your accounting tool</span></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- /First Info Section -->

            <!-- Second Info Section -->
            <section class="info-section info-section--left">
                <div class="container">
                    <div class="info-section__text info-section__text--left">
                        <h3 class="info-section__subtitle">ONLINE COMPANY ACCOUNT FOR DOCTORS AND PHARMACISTS</h3>
                        <h2 class="info-section__title">Why the Penta business account is the best choice</h2>
                        <ul class="info-section__list">
                            <li><span>Choose a package according to the requirements of your practice or pharmacy – package change possible anytime</span></li>
                            <li><span>Manage finances in your team with individual debit cards and payment limits</span></li>
                            <li><span>Real-time payments and expenses in your app with easy handling</span></li>
                            <li><span>More time for the core business through time savings in banking and accounting</span></li>
                            <li><span>Continuous innovation and optimization through the latest technologies</span></li>
                            <li><span>No hidden costs through 100% transparency</span></li>
                        </ul>
                    </div>
                    <div class="info-section__image">
                        <img src="./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-scaled.jpg" 
                        srcset="./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-scaled.jpg 1708w, 
                        ./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-200x300.jpg 200w, 
                        ./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-683x1024.jpg 683w,
                        ./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-768x1151.jpg 768w, 
                        ./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-1025x1536.jpg 1025w, 
                        ./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-1366x2048.jpg 1366w, 
                        ./images/crop-scientist-accomplishing-research-in-modern-laboratory-3825377-1-640x959.jpg 640w" 
                        sizes="(max-width: 900px) 100vw, 900px"
                        alt="Why the Penta business account is the best choice image">
                    </div>
                </div>
            </section>
            <!-- /Second Info Section -->

            <!-- Third Info Section -->
            <section class="info-section info-section--right">
                <div class="container">
                    <div class="info-section__image">
                        <img src="./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-scaled.jpg" 
                        srcset="./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-scaled.jpg 1707w, 
                        ./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-200x300.jpg 200w, 
                        ./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-683x1024.jpg 683w, 
                        ./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-768x1152.jpg 768w, 
                        ./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-1024x1536.jpg 1024w, 
                        ./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-1365x2048.jpg 1365w, 
                        ./images/jonathan-borba-wzV17t-k3k0-unsplash-1-1-640x960.jpg 640w" 
                        sizes="(max-width: 900px) 100vw, 900px"
                        alt="How to manage a medical practice with your team image">
                    </div>
                    <div class="info-section__text info-section__text--right">
                        <h3 class="info-section__subtitle">CUSTOMER CASE</h3>
                        <h2 class="info-section__title">How to manage a medical practice with your team </h2>
                        <p>
                            “My parents are doctors. We have recognized a trend that more digitalization is on the rise in medical practices as well. 
                            From cashless payments in the practice to a fully digital business account that makes internal processes more efficient and secure.” 
                        </p>
                        <p>
                            – Jessica Holzbach, CCO und Co-founder at Penta
                        </p>
                        <a href="#" class="info-section__read-more">Read more</a>
                    </div>
                </div>
            </section>
            <!-- /Third Info Section -->

            <!-- Fourth Info Section -->
            <section class="info-section info-section--left">
                <div class="container">
                    <div class="info-section__text info-section__text--left">
                        <h3 class="info-section__subtitle">GUARANTEED SECURITY</h3>
                        <h2 class="info-section__title">Your money is safe</h2>
                        <ul class="info-section__list">
                            <li><span>Your business bank account is kept with solarisBank and supervised by the German banking authority BaFin</span></li>
                            <li><span>Deposits are protected up to €100.000</span></li>
                            <li><span>Data protection under GDPR</span></li>
                            <li><span>Cyber security including SSL encryption of sensitive data</span></li>
                        </ul>
                    </div>
                    <div class="info-section__image">
                        <img src="./images/Security-11.15.16-AM-1.png" 
                        srcset="./images/Security-11.15.16-AM-1.png 1128w, 
                        ./images/Security-11.15.16-AM-1-300x216.png 300w, 
                        ./images/Security-11.15.16-AM-1-1024x737.png 1024w, 
                        ./images/Security-11.15.16-AM-1-768x553.png 768w, 
                        ./images/Security-11.15.16-AM-1-640x461.png 640w" 
                        sizes="(max-width: 900px) 100vw, 900px"
                        alt="Your money is safe image">
                    </div>
                </div>
            </section>
            <!-- /Second Info Section -->

            <!-- FAQ Section -->
            <section class="faq-section container">
                <h2 class="faq-section__title">FAQ</h2>
                <div class="accordion" id="accordionFAQ">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                How can I open a Penta Business Account?
                                <span></span> 
                                </button>
                            </h3>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                            <div class="card-body">
                                <p>
                                    You can open your Penta account online within 10 minutes, whether you are just leaving your doctor’s office, pharmacy or home. 
                                    We just need some information about you and your business. After you sign up, we only need to confirm your identity via a video call with our partner ID now.
                                </p>                            
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
                                How quickly can I use my new Penta account?    
                                <span></span>                             
                                </button>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                            <div class="card-body">
                                <p>
                                    After you have registered with us, we will check your data once again. Within 48 hours you can use your Penta account for your practice or pharmacy.   
                                </p>                          
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How can I integrate the Penta account into my accounting?
                                <span></span>                              
                                </button>
                            </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                            <div class="card-body">
                                <p>
                                With our Advanced and Premium price plans, integration with a variety of accounting tools is included. This allows your transactions on the account to be automatically synchronized with your accounting.                             
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What makes Penta’s support special?
                                <span></span> 
                                </button>
                            </h3>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                            <div class="card-body">
                                <p>
                                    Our team at Penta is made up of people who have often had their own hands-on business experience and therefore understand the challenges you face with 
                                    your business and can help you overcome them. In addition, Penta’s support team is always trained on the latest technology, so that they can help you 
                                    even better and faster. With our proprietary support interface, we can solve most problems in minutes, without the need for technical or other assistance
                                    from outside companies.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /FAQ Section -->

            <!-- Banner Section -->
            <section class="banner-section container">
                <div class="banner-section__content">
                    <div class="banner-section__image">
                        <img src="./images/HeroIG-21-1.png" 
                        srcset="./images/HeroIG-21-1.png 947w, 
                        ./images/HeroIG-21-1-300x233.png 300w, 
                        ./images/HeroIG-21-1-768x596.png 768w, 
                        ./images/HeroIG-21-1-640x497.png 640w" 
                        sizes="(max-width: 900px) 100vw, 900px"
                        alt="Get your Penta account today banner">
                    </div>
                    <div class="banner-section__text">
                        <h2>Get your Penta account today!</h2>
                        <a href="https://getpenta.com/en/pricing/" class="btn open-account-btn">GET STARTED NOW</a>
                        <span>Free trial – no commitment</span>
                    </div>
                </div>
            </section>
            <!-- /Banner Section -->

            <!-- Footer -->
            <footer class="footer container">
                <section class="footer-top">
                    <div class="contact-info">
                        <a href="#">
                            <img src="./images/logo.svg" alt="Penta | Logo" />
                            <div class="footer-address">
                                <address>
                                    <span>Hardenbergstraße 32</span>
                                    <span>10623 Berlin</span>
                                    <span>Germany</span>
                                </address>
                                <p>(Mo-Fr 9-17 Hrs)</p>
                                <p>hello@getpenta.com</p>
                            </div>
                        </a>
                    </div>
                    <ul class="navbar-nav footer-nav">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Company
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">About us</a>
                                <a class="dropdown-item" href="#">Security</a>
                                <a class="dropdown-item" href="#">Press</a>
                                <a class="dropdown-item" href="#">Partners</a>
                                <a class="dropdown-item" href="#">Affiliate</a>
                                <a class="dropdown-item" href="#">Careers</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Features
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">About us</a>
                                <a class="dropdown-item" href="#">Security</a>
                                <a class="dropdown-item" href="#">Press</a>
                                <a class="dropdown-item" href="#">Partners</a>
                                <a class="dropdown-item" href="#">Affiliate</a>
                                <a class="dropdown-item" href="#">Careers</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Legal Forms
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <div class="sub-menu">
                                    <a class="dropdown-item" href="#">About us</a>
                                    <a class="dropdown-item" href="#">Security</a>
                                    <a class="dropdown-item" href="#">Press</a>
                                    <a class="dropdown-item" href="#">Partners</a>
                                    <a class="dropdown-item" href="#">Affiliate</a>
                                    <a class="dropdown-item" href="#">Careers</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Useful Links
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <div class="sub-menu">
                                    <a class="dropdown-item" href="#">About us</a>
                                    <a class="dropdown-item" href="#">Security</a>
                                    <a class="dropdown-item" href="#">Press</a>
                                    <a class="dropdown-item" href="#">Partners</a>
                                    <a class="dropdown-item" href="#">Affiliate</a>
                                    <a class="dropdown-item" href="#">Careers</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="footer-bottom">

                </section>
            </footer>
            <!-- /Footer -->

        </main>
  </body>
</html>


<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/405836298?autoplay=1&amp;loop=1&amp;autopause=0" allow="autoplay" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
<!-- /Video Modal -->